<!DOCTYPE html>
<html>
   <head>
      <title>Hello world</title>
   </head>
   <script src = "/socket.io/socket.io.js"></script>
   
   <script>
      var socket = io('http://localhost:3000');
      socket.on('greeting-from-server', function (message) {
         document.body.appendChild(
            document.createTextNode(message.greeting)
         );
         socket.emit('greeting-from-client', {
            greeting: 'Hello Server'
         });
      });
   </script>
   <body>Hello</body>
</html>